/*base stuff*/
html{
    width: 100%;
    background-image: url("../images/background.jpg");
    background-size: cover;
}

body{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    max-width: 2000px;
}

@font-face{
    font-family: 'Plaza';
    src:
        url('fonts/Plaza/Plaza\ Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'TitilliamWeb';
    src:
        url('fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Righteous';
    src:
        url('fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

/*header stuff*/
header{
    background-color: rgba(134, 134, 134, 0.432);
    height: 150px;
    font-size: 70px;
    border-radius: 5px;
}

header img{
    float: left;
    height: 100%;
    border-radius: 5px;
}

header ul li{
    float: left;
    list-style: none;
    display: block;
    margin: 20px;
}

header ul li a{
    text-decoration: none;
    font-family: 'TitilliamWeb';
    padding-left: 10px;
    padding-right: 10px;
}

header a:active, header ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(177, 177, 177, 0.74);
    border-radius: 5px;
}

header a:link, header a:visited{
    color: rgb(255, 255, 255);
}

/*grid layout*/
.grid-container { 
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr ;
    color:black;
    width: 100%;
}

.title{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
    position: relative;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.title p, .title h1{
    font-family: 'Plaza';
    margin: 0px;
    padding: 0px;
}

.body{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:3;
    background-color: rgba(134, 134, 134, 0.432);
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    font-family: 'Righteous';
}

.body a{
    text-decoration: none;
}

.body a:hover{
    color: rgb(174, 0, 243);
}