/*base stuff*/
html{
    width: 100%;
    background-image: url("../images/background.jpg");
    background-size: cover;
}

body{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    max-width: 2000px;
}

@font-face{
    font-family: 'Plaza';
    src:
        url('fonts/Plaza/Plaza\ Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'TitilliamWeb';
    src:
        url('fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Righteous';
    src:
        url('fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

.grid-container img{
    border-radius: 5px;
    width: 100%;
    opacity: 0.7;
}

/*header stuff*/
header{
    background-color: rgba(134, 134, 134, 0.432);
    height: 150px;
    font-size: 70px;
    border-radius: 5px;
}

header img{
    float: left;
    height: 100%;
    border-radius: 5px;
}

header ul li{
    float: left;
    list-style: none;
    display: block;
    margin: 20px;
}

header ul li a{
    text-decoration: none;
    font-family: 'TitilliamWeb';
    padding-left: 10px;
    padding-right: 10px;
}

header a:active, header ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(177, 177, 177, 0.74);
    border-radius: 5px;
}

header a:link, header a:visited{
    color: rgb(255, 255, 255);
}

/*grid layout and stuff*/
.grid-container { 
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 150px 1fr ;
    color:black;
    width: 100%;
}

.intro{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
}

.intro h1{
    font-family: 'Plaza';
    font-size: 70px;
    margin: 0px;
    padding: 0px;
}

.intro p{
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    font-family: 'TitilliamWeb';
}

.buying{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:3;
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(134, 134, 134, 0.432);
    border-radius: 15px;
}

.buying h1, .buying p{
    padding: 5px;
    margin: 5px;
}

.buying img:first-of-type{
    height: 140px;
}

.buying img:last-of-type{
    opacity: 0.9;
}
